/* Custom Font Declarations */

/* Aeonik Font Declarations */
@font-face {
  font-family: "Aeonik";
  src: url("/assets/font/Aeonik/fonnts.com-Aeonik_Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/assets/font/Aeonik/fonnts.com-Aeonik_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/assets/font/Aeonik/Aeonik-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/assets/font/Aeonik/fonnts.com-Aeonik_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/assets/font/Aeonik/fonnts.com-Aeonik_Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* Figtree Font Declarations */
@font-face {
  font-family: "Figtree";
  src: url("/assets/font/Figtree/Figtree-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("/assets/font/Figtree/Figtree-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("/assets/font/Figtree/Figtree-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("/assets/font/Figtree/Figtree-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("/assets/font/Figtree/Figtree-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("/assets/font/Figtree/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("/assets/font/Figtree/Figtree-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* Bebas Neue Font Declarations */
@font-face {
  font-family: "Bebas Neue";
  src: url("/assets/font/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neue Plak";
  src: url("/assets/font/NeuePlak/NeuePlak-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neue Plak";
  src: url("/assets/font/NeuePlak/NeuePlak-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neue Plak";
  src: url("/assets/font/NeuePlak/NeuePlak-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Neue Plak";
  src: url("/assets/font/NeuePlak/NeuePlak-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Neue Plak";
  src: url("/assets/font/NeuePlak/NeuePlak-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* Helvetica Neue Font Declarations */

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/font/helvetica-neue/HelveticaNeueLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/font/helvetica-neue/HelveticaNeueRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/font/helvetica-neue/HelveticaNeueMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/font/helvetica-neue/HelveticaNeueBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/font/helvetica-neue/HelveticaNeueBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/font/helvetica-neue/HelveticaNeueBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/font/helvetica-neue/HelveticaNeueHeavy.otf") format("opentype");
  font-weight: 950;
  font-style: normal;
}

/* TWKLausanne Font Declarations */
@font-face {
  font-family: "TWKLausanne";
  src: url("/assets/font/TWKLausanne/TWKLausanne-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TWKLausanne";
  src: url("/assets/font/TWKLausanne/TWKLausanne-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TWKLausanne";
  src: url("/assets/font/TWKLausanne/TWKLausanne-600.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "TWKLausanne";
  src: url("/assets/font/TWKLausanne/TWKLausanne-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TWKLausanne";
  src: url("/assets/font/TWKLausanne/TWKLausanne-800.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}



/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Global Utility Classes */
.cursor-force-none {
  cursor: none !important;
}

.cursor-force-none * {
  cursor: none !important;
}