/* ============== Sports Styles =============== */
.sports-wrapper {
  font-family: "Neue Plak";
  @apply bg-[#FAF9FA];
}

.sports-container {
  @apply max-w-[1920px] mx-auto px-5;
  font-family: "Neue Plak";
}

.sports-section-wrapper {
  @apply bg-white rounded-[16px] 2xl:rounded-[20px] p-4 2xl:p-5 overflow-hidden;
}

.sports-section-padding {
  @apply py-[40px] lg:py-[45px] 2xl:py-[60px];
}

.sports-section-padding-top {
  @apply pt-[40px] lg:pt-[45px] 2xl:pt-[60px];
}

.sports-section-padding-bottom {
  @apply pb-[40px] lg:pb-[45px] 2xl:pb-[60px];
}

.sports-section-heading {
  @apply text-[#15234E] font-bold text-[24px] 2xl:text-[32px] pb-[22px] lg:pb-6 2xl:pb-[30px];
  line-height: 108%;
  font-family: "Neue Plak";
}