/* Custom Font Declarations */
@font-face {
  font-family: "Neue Plak";
  src: url("/assets/font/NeuePlak-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neue Plak";
  src: url("/assets/font/NeuePlak-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neue Plak";
  src: url("/assets/font/NeuePlak-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Neue Plak";
  src: url("/assets/font/NeuePlak-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Neue Plak";
  src: url("/assets/font/NeuePlak-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Neue Plak";
  box-sizing: border-box;
}

/* ============== Telco Styles =============== */

.telco-wrapper {}

.telco-container {
  max-width: 1920px;
  @apply mx-auto px-5 md:px-10 lg:px-[120px] 2xl:px-[159px];
}

.telco-section-padding {
  @apply py-[60px] md:py-[50px] lg:py-[75px] xl:py-[100px];
}

.telco-section-padding-top {
  @apply pt-[60px] md:pt-[50px] lg:pt-[75px] xl:pt-[100px];
}

.telco-section-padding-bottom {
  @apply pb-[60px] md:pb-[50px] lg:pb-[75px] xl:pb-[105px];
}

.telco-section-heading {
  @apply text-[#15234E] font-bold text-[24px] 2xl:text-[34px];
}


/* ============== Ecom Styles =============== */

.ecom-wrapper {}

.ecom-container {
  @apply max-w-[1920px] mx-auto px-5 md:px-6 xl:px-[44px] 2xl:px-[60px];
}

.ecom-section-padding {
  @apply py-[75px] 2xl:py-[100px];
}

.ecom-section-padding-top {
  @apply pt-[75px] 2xl:pt-[100px];
}

.ecom-section-padding-bottom {
  @apply pb-[75px] 2xl:pb-[100px];
}

.ecom-section-heading {
  @apply text-[#15234E] font-semibold text-center text-[28px] md:text-[32px] xl:text-[36px] 2xl:text-[48px] pb-4 md:pb-3 xl:pb-6 2xl:pb-14;
  letter-spacing: -3%;
  line-height: 108%;
}