/* Custom Font Declarations */

/* Aeonik Font Declarations */
@font-face {
  font-family: "Aeonik";
  src: url("/assets/font/Aeonik/fonnts.com-Aeonik_Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/assets/font/Aeonik/fonnts.com-Aeonik_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/assets/font/Aeonik/Aeonik-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/assets/font/Aeonik/fonnts.com-Aeonik_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/assets/font/Aeonik/fonnts.com-Aeonik_Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Neue Plak";
  src: url("/assets/font/NeuePlak/NeuePlak-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neue Plak";
  src: url("/assets/font/NeuePlak/NeuePlak-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neue Plak";
  src: url("/assets/font/NeuePlak/NeuePlak-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Neue Plak";
  src: url("/assets/font/NeuePlak/NeuePlak-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Neue Plak";
  src: url("/assets/font/NeuePlak/NeuePlak-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* Helvetica Neue Font Declarations */

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/font/helvetica-neue/HelveticaNeueLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/font/helvetica-neue/HelveticaNeueRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/font/helvetica-neue/HelveticaNeueMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/font/helvetica-neue/HelveticaNeueBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/font/helvetica-neue/HelveticaNeueBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/font/helvetica-neue/HelveticaNeueBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/font/helvetica-neue/HelveticaNeueHeavy.otf") format("opentype");
  font-weight: 950;
  font-style: normal;
}

/* TWKLausanne Font Declarations */
@font-face {
  font-family: "TWKLausanne";
  src: url("/assets/font/TWKLausanne/TWKLausanne-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TWKLausanne";
  src: url("/assets/font/TWKLausanne/TWKLausanne-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TWKLausanne";
  src: url("/assets/font/TWKLausanne/TWKLausanne-600.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "TWKLausanne";
  src: url("/assets/font/TWKLausanne/TWKLausanne-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TWKLausanne";
  src: url("/assets/font/TWKLausanne/TWKLausanne-800.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* globals.css */
.cursor-force-none {
  cursor: none !important;
}

.cursor-force-none * {
  cursor: none !important;
}


/* ============== Landing Styles =============== */

.landing-wrapper {
  font-family: "Helvetica Neue";
}

.landing-container {
  @apply mx-auto px-4 md:px-5 lg:px-10 xl:px-[90px] 3xl:px-[120px];
}

.landing-container-left {
  @apply mx-auto pl-4 md:pl-5 lg:pl-10 xl:pl-[90px] 3xl:pl-[120px];
}

.landing-section-padding {
  @apply py-[120px] md:py-[100px] lg:py-[180px] 2xl:py-[240px];
}

.landing-section-padding-top {
  @apply pt-[120px] md:pt-[100px] lg:pt-[180px] 2xl:pt-[240px];
}

.landing-section-padding-bottom {
  @apply pb-[120px] md:pb-[100px] lg:pb-[180px] 2xl:pb-[240px];
}

.landing-section-heading {
  @apply text-[#15234E] font-medium text-center text-[32px] lg:text-[48px] 3xl:text-[64px];
  letter-spacing: -3%;
  line-height: 108%;
}

.landing-section-description {
  @apply text-[#475467] text-center text-base md:text-lg 3xl:text-2xl pt-[18px] 3xl:pt-6;
  letter-spacing: -3%;
  line-height: 108%;
}

/* ============== Demo Styles =============== */

.demo-wrapper {
  font-family: "Neue Plak";
}

.demo-container {
  @apply max-w-[1920px] mx-auto px-4 md:px-[70px] lg:px-[132px] 2xl:px-[176px];
}

.demo-section-padding {
  @apply pt-12 pb-12 sm:pt-16 sm:pb-16 md:pt-20 md:pb-20 lg:pt-24 lg:pb-24 xl:pt-[105px] xl:pb-[105px];
}

.demo-section-padding-top {
  @apply pt-12 sm:pt-16 md:pt-20 lg:pt-24 xl:pt-[105px];
}

.demo-section-padding-bottom {
  @apply pb-12 sm:pb-16 md:pb-20 lg:pb-24 xl:pb-[105px];
}

.demo-section-heading {
  @apply text-[#15234E] font-semibold text-center text-[28px] md:text-[32px] xl:text-[36px] 2xl:text-[48px] pb-4 md:pb-3 xl:pb-6 2xl:pb-14;
  letter-spacing: -3%;
  line-height: 108%;
}

/* ============== Telco Styles =============== */

.telco-wrapper {
  font-family: "Aeonik";
}

.telco-container {
  @apply max-w-[1920px] mx-auto px-5 md:px-10 lg:px-[120px] 2xl:px-[159px];
}

.telco-section-padding {
  @apply py-[60px] md:py-[50px] lg:py-[75px] 2xl:py-[100px];
}

.telco-section-padding-top {
  @apply pt-[60px] md:pt-[50px] lg:pt-[75px] 2xl:pt-[100px];
}

.telco-section-padding-bottom {
  @apply pb-[60px] md:pb-[50px] lg:pb-[75px] 2xl:pb-[100px];
}

.telco-section-heading {
  @apply text-[#15234E] font-bold text-[26px] lg:text-[30px] 2xl:text-[40px] leading-[32px] sm:leading-[38px] lg:leading-[34px] 2xl:leading-[48px];
}


/* ============== Ecom Styles =============== */

.ecom-wrapper {
  font-family: "TWKLausanne";
}

.ecom-container {
  @apply max-w-[1920px] mx-auto px-5 md:px-6 xl:px-[44px] 2xl:px-[60px];
  font-family: "TWKLausanne";
}

.ecom-section-padding {
  @apply py-[75px] 2xl:py-[100px];
}

.ecom-section-padding-top {
  @apply pt-[75px] 2xl:pt-[100px];
}

.ecom-section-padding-bottom {
  @apply pb-[75px] 2xl:pb-[100px];
}

.ecom-section-heading {
  @apply text-[#15234E] font-semibold text-center text-[28px] md:text-[32px] xl:text-[36px] 2xl:text-[48px] pb-4 md:pb-3 xl:pb-6 2xl:pb-14;
  letter-spacing: -3%;
  line-height: 108%;
  font-family: "TWKLausanne";
}